@using  MockSchoolManagement.ViewModels.Departments
@model DepartmentCreateViewModel
@{ ViewBag.Title = "创建班级"; }
<div class="container">
    <form asp-action="Create" method="post" class="mt-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="DepartmentID" />
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="请输入班级名称" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="ClassCode" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ClassCode"  class="form-control" placeholder="请输入班级编号" />
                <span asp-validation-for="ClassCode" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="ClassScore" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ClassScore" class="form-control" placeholder="请输入班级日常评分" />
                <span asp-validation-for="ClassScore" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="TeacherList" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="TeacherID"
                        class="custom-select mr-sm-2"
                        asp-items="@Model.TeacherList">
                    <option value="">请选择</option>
                </select>
                <span asp-validation-for="TeacherList" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 text-center">
                <a asp-action="Index" asp-controller="Departments" class="btn btn-info">返回</a>
                <button type="submit" class="btn btn-primary">创建</button>
            </div>
        </div>

    </form>
</div>