@using MockSchoolManagement.Application.Students.Dtos;
@model IEnumerable<EnrollmentDateGroupDto>
@{ ViewBag.Title = "学生的统计信息"; }

<h1>
    学生信息统计
</h1>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">班级名称</th>
                <th scope="col">学生人数</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DepartmentName)
    </td>
    <td>
        @item.StudentCount
    </td>
</tr>
}
        </tbody>
    </table>
    <div class="form-group row">
        <div class="col-sm-12 text-center">
            <a asp-action="Index" asp-controller="home" class="btn btn-info">返回</a>
        </div>
    </div>
</div>
